@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

@theme {
  --color-justice: #FFCC00;
  --color-labor: #A50034;
  --color-green: #1B7339;
  --color-progressive: #D6001C;
  --color-democratic: #152484;
  --color-people-power: #E61E2B;
}

html { color-scheme: light dark; }
html.dark { color-scheme: dark; }
